
.boardSearch {
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-right: 20px;
}

.search {
  display: flex;
}

.button {
  cursor: pointer;
  /* margin-right: 20px; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8%;
  user-select: none;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.category {
    background-color: red;
    display: flex;
    flex-grow: 1;
}

.mainContainer {
    min-height: 100%;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 15px;
  column-gap: 20px;
  row-gap: 20px;
  min-height: 100%;
  flex-grow: 1;
  grid-column: 1;
  grid-row: 1;
  /* flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; */
}

.categoryContainer {
  /* padding-right: 90px; */
  margin-top: 8px;
  border-radius: 5px;
  flex: 1 0 auto;
  display: flex;
  min-height: 100%;
    border-color: black;
  border-style: solid;
  border-width: 1px;
  min-height: 80vh;
  flex-direction: column;
  justify-content: flex-start;
}


.categoryName {
  text-align: center;
  flex-grow: 1;
  color: black;
  font-weight: 600;
}

.categoryControls {
  display: flex;
  flex-direction: column;
  margin-right: 10px;

}

.taskContainer {
  background-color: rgb(199, 199, 199);
  flex: 0 1 100px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;

}

.nameColumn {
  padding-top: 3px;
  display: flex;
  flex-direction: column;
}

.taskName {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  text-wrap: wrap;
  overflow-wrap: break-word;
  font-size: 20px;
}

.taskDescription {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

.createTask {
  background-color: rgb(199, 199, 199);
  flex: 0 1 100px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.taskControls {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  padding-top: 8px;
}


.taskColumn {
    min-height: 100%;
}

.createTaskBtn {
  align-self: center;
}

.editTaskBtn {
  cursor: pointer;
}

.deleteTaskBtn {
  cursor: pointer;
}