
.boardSearch {
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-right: 20px;
}

.search {
  display: flex;
}

.button {
  cursor: pointer;
  /* margin-right: 20px; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8%;
  user-select: none;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.mainContainer {
    min-height: 100%;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 15px;
  column-gap: 20px;
  row-gap: 20px;
  min-height: 0%;
  flex-grow: 1;
  grid-column: 1;
  grid-row: 1;
  /* flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; */
}
