#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.boards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
  column-gap: 20px;
  row-gap: 20px;
  /* flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; */
}

/* @media (max-width: 992px) {
    .boards {  grid-template-columns: auto;}
}    */

.boardContainer, .createBoardContainer {
  /* padding-right: 90px; */
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5%;
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  min-height: 82px;
    border-color: black;
  border-style: solid;
  border-width: 1px;
}


.tableName {
  text-align: left;
  padding-left: 10px;
  flex-grow: 1;
  padding-right: 50px;
  color: black;
}

.createTableName {
  padding-right: 50px;
  text-align: left;
  padding-left: 10px;
  flex-grow: 1;
}

.controls {
  display: flex;
  flex-direction: column;
  margin-right: 10px;

}

.input {
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.search {
  display: flex;
}

.button {
  cursor: pointer;
  /* margin-right: 20px; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8%;
  user-select: none;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.createBoardContainer {
  background-color: rgba(128, 128, 128, 0.452);
  cursor: pointer;
}

.editBtn {
  cursor: pointer;
}

.deleteBtn {
  cursor: pointer;
}