body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.closeModal, .closeModalLockedOut {
    /* position: absolute;
    top: 10px;
    right: 10px; */
    display: flex;
    flex-shrink: 1;
    background-color: red;
    border-radius: 5px;
    align-items: center;
    margin-top: 3px;
    cursor: pointer;
}

.closeModalLockedOut {
    opacity: 0.5;
    cursor: default;
}

.paramInput {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 66%;
}

.header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
}

.title {
    flex-grow: 1;
    text-align: start;
    font-size: 24px;
    font-weight: bold;
}

.close {
    padding: 7px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: space-between;
}

.paramName {
    flex-grow: 1;
    text-align: left;
    font-size: 18px;
    margin-bottom: 5px;
}

.applyChangesBtn, .applyChangesBtnLockedOut {
    display: flex;
    cursor: pointer;
    background-color: rgb(25, 196, 25);
    margin-top: 15px;
    border-radius: 5px;
    justify-content: center;
}

.applyChangesBtnLockedOut {
    opacity: 0.5;
    cursor: default;
}

.applyChangesBtnText {
    font-size: 18px;
    padding: 5px 0px;
}